@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo-text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #3E3E3E;

}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.section-subtitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #0A0826;

}

.card-header {
    border: none;
}